<mat-card class="mat-elevation-z8" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-sm">
            <mat-form-field>
                <mat-label>Preço a vista</mat-label>
                <input matInput formControlName="firstCtrl" >
            </mat-form-field>
        </div>

        <div class="col-sm">
            <mat-form-field>
                <mat-label>Preço no débito</mat-label>
                <input matInput formControlName="firstCtrl" >
            </mat-form-field>
        </div>

        <div class="col-sm">
            <mat-form-field>
                <mat-label>Preço no crédito</mat-label>
                <input matInput formControlName="firstCtrl" >
            </mat-form-field>
        </div>

        <div class="col-sm">
            <mat-form-field>
                <mat-label>Preço no crédito parcelado</mat-label>
                <input matInput formControlName="firstCtrl" >
            </mat-form-field>
        </div>
    </div>
</mat-card>
