<div class="content-fluid">
    <div class="row">
        <mat-card class="mat-elevation-z8" style="margin: 15px !important; width: 70% !important;">
            <div class="col-sm">
                <div class="row" style="text-align: center;">
                        <div routerLink="/lista-vendas" class="col-sm icone-home-box">
                            <img class="tamanho-icone"  src="assets/img/vendas.png">
                            <h4>Minhas vendas</h4>
                            <p>gerencie suas vendas</p>
                        </div>    
                    <div routerLink="/iniciar-pausar-caixa" class="col-sm icone-home-box">
                        <img class="tamanho-icone"  src="assets/img/caixa.png">
                        <h4>Meu caixa</h4>
                        <p>gerencie seu caixa</p>
                    </div>
    
                    <div routerLink="/lista-produtos"  class="col-sm icone-home-box">
                        <img class="tamanho-icone"  src="assets/img/produtos.png">
                        <h4>Meus produtos</h4>
                        <p>gerencie seus produtos</p>
                    </div>
                </div>
    
                <div routerLink="/relatorio-vendas" class="row" style="text-align: center;">
                    <div class="col-sm icone-home-box">
                        <img class="tamanho-icone"  src="assets/img/relatorios.png">
                        <h4>Meus relatórios</h4>
                        <p>gerencie seus relatórios</p>
                    </div>
    
                    <div routerLink="/Lista-adm" class="col-sm icone-home-box">
                        <img class="tamanho-icone" src="assets/img/cadastro.png">
                        <h4>Meus cadastros</h4>
                        <p>gerencie seus cadastros</p>
                    </div>
    
                    <div routerLink="/lista-entregas" class="col-sm icone-home-box">
                        <img class="tamanho-icone"  src="assets/img/entrega.png">
                        <h4>Minhas entregas</h4>
                        <p>gerencie suas entregas</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm display" style="margin-top: 25px;">
                    <p style="margin-top: 10px; margin-right: 10px; font-size: 15px; color: #09131c; font-weight: 600;">Desenvolvido pela: </p>
                    <a href="https://faso.com.br/index.html" target="_blank"><img src="assets/img/logo-faso.png" style="max-height: 40px;"></a>
                </div>
            </div>
        </mat-card>

        <mat-card class="mat-elevation-z8" style="width: 25% !important; margin: 15px;">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm vendas-home-box">
                        <div class="vendas-nuumeros-box display ">
                            <h3 class="titulo-vendas-home">Total do dia: </h3>
                            <h3 class="numero-vendas-home">R$: 1120,00</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="row">
                    <div class="col-sm titulo-vendas-dia-box">
                        <div>
                            <div class="vendas-dia-box display">
                                <h3 class="titulo-vendas-dia-home">Resumo do dia:</h3>
                                <h3 class="data-dia-vendas-home">26/07/2020</h3>
                            </div>

                            <div class="vendas-dia-box display-left">
                                <h3 class="info-vendas-dia-home">Vendas efetuadas:</h3>
                                <h3 class="info-data-dia-vendas-home">125</h3>
                            </div>
    
                            <div class="vendas-dia-box display-left">
                                <h3 class="info-vendas-dia-home">Vendas canceladas:</h3>
                                <h3 class="info-data-dia-vendas-home">17</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="row">
                    <div class="col-sm titulo-vendas-dia-box">
                        <div>
                            <div class="vendas-dia-box display">
                                <h3 class="titulo-vendas-dia-home">Comparativo de vendas</h3>
                            </div>

                            <div class="comparativos-box" style="border-bottom: 1px solid #09131c;">
                                <div class="vendas-dia-box display-left">
                                    <h3 class="titulo-vendas-dia-home">Junho de 2020</h3>
                                </div>
    
                                <div class="vendas-dia-box display-left">
                                    <h3 class="info-vendas-dia-home">vendas realizadas</h3>
                                    <h3 class="info-data-dia-vendas-home">119</h3>
                                </div>

                                <div class="vendas-dia-box display-left">
                                    <h3 class="info-vendas-dia-home">Total</h3>
                                    <h3 class="info-data-dia-vendas-home">2335,00</h3>
                                </div>
                            </div>
    
                            <div class="comparativos2-box" style="margin-top: 15px;">
                                <div class="vendas-dia-box display-left">
                                    <h3 class="titulo-vendas-dia-home">Julho de 2020</h3>
                                </div>
    
                                <div class="vendas-dia-box display-left">
                                    <h3 class="info-vendas-dia-home">vendas realizadas</h3>
                                    <h3 class="info-data-dia-vendas-home">125</h3>
                                </div>

                                <div class="vendas-dia-box display-left">
                                    <h3 class="info-vendas-dia-home">Total</h3>
                                    <h3 class="info-data-dia-vendas-home">2335,00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>