<mat-card class="mat-elevation-z8" style="margin-bottom: 20px;">
    <div class="row text-center" style="margin-top: 30px;">
        <div class="col-sm display adm-title">
            <mat-icon class="icon-title">group</mat-icon>
            <h1>Finalizar cadastro do produto</h1>
        </div>
    </div>

    <mat-card class="mat-elevation-z8"  style="margin-bottom: 20px;">
        <!--Gerais-->
    <div class="row">
        <div class="col-sm">
            <h1 class="text-base-back">Detalhes gerais</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Nome:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Camiseta preta</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Resumo:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Camiseta preta estampada tamanho variado ideal para o verão</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Descrição:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Camiseta preta estampada tamanho variado ideal para o verão</p>
        </div>
    </div>
    </mat-card>

    <mat-card class="mat-elevation-z8" style="margin-bottom: 20px !important;">
        <!--Estoque-->
    <div class="row" style="margin-top: 20px !important;">
        <div class="col-sm">
            <h1 class="text-base-back">Detalhes de estoque</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">SKU:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">4672</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Estoque:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">13</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Texto quando faltar estoque:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Sem estoque</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Visivel:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Sim</p>
        </div>
    </div>
    </mat-card>

    <mat-card class="mat-elevation-z8" style="margin-bottom: 20px !important;">
        <!--Variações/Categorias-->
    <div class="row" style="margin-top: 20px !important;">
        <div class="col-sm">
            <h1 class="text-base-back">Detalhes de variações e categorias</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Categorias:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Camiseta</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Camiseta estampada</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Variações:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Cor</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">Preto</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Tamanho</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">P</p>
        </div>
    </div>
    </mat-card>

    <mat-card class="mat-elevation-z8" style="margin-bottom: 20px !important;">
        <!--imagem principal-->
    <div class="row">
        <div class="col-sm">
            <h1 class="text-base-back">Detalhes da imagem</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">imagem principal:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm text-left">
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Galeria:</p>
        </div>
    </div>

    <div class="row">
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>

            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>

            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>

            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>

            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>

            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg"/>
            </div>
    </div>
    </mat-card>


     <mat-card class="mat-elevation-z8" style="margin-bottom: 20px !important;">
        <!--preços-->
     <div class="row">
        <div class="col-sm">
            <h1 class="text-base-back">Detalhes dos preços</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">A vista:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">25,90</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">No débito:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">30,90</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Crédito a vista:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">35,90</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm display-left">
            <p class="base-text-black">Crédito parcelado:</p>
            <p class="base-text" style="margin-left: 5px !important; margin-top: 1px !important;">45,90</p>
        </div>
    </div>
     </mat-card>

</mat-card>
