<mat-card class="mat-elevation-z8">
    <div class="row">
        <div class="col-sm">
            <div class="title-page-box">
                <div class="title-page display-left ">
                    <mat-icon class="icon-title">attach_money</mat-icon>
                    <h3>Adicionar vendas</h3>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<div class="row text-center">
    <mat-card class="mat-elevation-z8" style="margin: 15px !important; width: 35% !important;">
        <div class="col-sm">
            <div style="text-align: start;">
                <h2 class="base-text-black ">Adicionar produto</h2>
            </div>
            <div class="main-search">
                <div class="form-group has-search">
                    <i class="material-icons form-control-feedback">search</i>
                    <input type="text" class="form-control" placeholder="Buscar">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div style="text-align: start; margin-top: 30px;">
                <h2 class="base-text-black">Produtos</h2>
            </div>
        </div>

        <!--Produto1-->
        <div class="col-sm produtos-box">
            <div class="row" style="text-align: start;">
                <div class="col-sm-10" style="margin-top: 10px !important;">
                    <p class="base-text">Calça jeans tamanho 34</p>
                </div>

                <div class="col-sm-2" style="margin-top: 4px !important; cursor: pointer;">
                    <mat-icon class="add-product-icon">add</mat-icon>
                </div>
            </div>
        </div>

        <!--Produto2-->
        <div class="col-sm produtos-box">
            <div class="row" style="text-align: start;">
                <div class="col-sm-10" style="margin-top: 10px !important;">
                    <p class="base-text">Bermuda estampada tamanho 37</p>
                </div>

                <div class="col-sm-2" style="margin-top: 4px !important; cursor: pointer;">
                    <mat-icon class="add-product-icon">add</mat-icon>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="mat-elevation-z8" style="width: 60% !important; margin: 15px;">
        <div class="col-sm titulos-referencias">
            <div class="row linha-titulos-referencias">
                <div class="col-sm">
                    <p class="base-text-black">Produtos</p>
                </div>

                <div class="col-sm">
                    <p class="base-text-black">Quantidade</p>
                </div>

                <div class="col-sm">
                    <p class="base-text-black">Valor total</p>
                </div>

                <div class="col-sm">
                    <p class="base-text-black">Detalhes</p>
                </div>
            </div>
        </div>

        <!--Produto adicionado1-->
        <div class="col-sm produtos-referencias">
            <div class="row linha-produtos-referencias">
                <div class="col-sm">
                    <p>Bermuda tamanho 37</p>
                </div>

                <div class="col-sm">
                    <div class="row">
        
                        <div class="col-sm" style="border: 1px solid #cecece; cursor: pointer; padding: 0px !important;">
                            <i class="material-icons cadastro-icons">remove</i>
                        </div>
        
                        <div class="col-sm" style="border: 1px solid #cecece; padding: 0px !important;">
                            <p>11</p>
                        </div>
        
                        <div class="col-sm" style="border: 1px solid #cecece; cursor: pointer; padding: 0px !important;">
                            <i class="material-icons cadastro-icons">add</i>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <p>R$: 32,90</p>
                </div>

                <div class="col-sm">
                    <mat-icon class="delete-product-icon">delete</mat-icon>
                </div>
            </div>
        </div>

        <!--Produto adicionado2-->
        <div class="col-sm produtos-referencias">
            <div class="row linha-produtos-referencias">
                <div class="col-sm">
                    <p>Calça jeans tamanho 37</p>
                </div>

                <div class="col-sm">
                    <div class="row">
        
                        <div class="col-sm" style="border: 1px solid #cecece; cursor: pointer; padding: 0px !important;">
                            <i class="material-icons cadastro-icons">remove</i>
                        </div>
        
                        <div class="col-sm" style="border: 1px solid #cecece; padding: 0px !important;">
                            <p>9</p>
                        </div>
        
                        <div class="col-sm" style="border: 1px solid #cecece; cursor: pointer; padding: 0px !important;">
                            <i class="material-icons cadastro-icons">add</i>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <p>R$: 43,50</p>
                </div>

                <div class="col-sm">
                    <mat-icon class="delete-product-icon">delete</mat-icon>
                </div>
            </div>
        </div>

        <!--Produto adicionado3-->
        <div class="col-sm produtos-referencias">
            <div class="row linha-produtos-referencias">
                <div class="col-sm">
                    <p>Camiseta tamanho 37</p>
                </div>

                <div class="col-sm">
                    <div class="row">
        
                        <div class="col-sm" style="border: 1px solid #cecece; cursor: pointer; padding: 0px !important;">
                            <i class="material-icons cadastro-icons">remove</i>
                        </div>
        
                        <div class="col-sm" style="border: 1px solid #cecece; padding: 0px !important;">
                            <p>5</p>
                        </div>
        
                        <div class="col-sm" style="border: 1px solid #cecece; cursor: pointer; padding: 0px !important;">
                            <i class="material-icons cadastro-icons">add</i>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <p>R$: 29,90</p>
                </div>

                <div class="col-sm">
                    <mat-icon class="delete-product-icon">delete</mat-icon>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<mat-card class="mat-elevation-z8">
    <div class="row">
        <div class="col-sm">
            <div class="title-page-box">
                <div class="title-page display-left ">
                    <mat-icon class="icon-title">check_circle_outline</mat-icon>
                    <h3>Finalizar vendas</h3>
                </div>
            </div>
        </div>

        <div class="col-sm ajuste-central" style="margin-top: 5px;">
            <button data-toggle="modal" data-target="#modalCancelarVenda" class="btn btn-danger adm-button"
            type="submit">Cancelar</button>
        </div>

        <div class="col-sm ajuste-central">
            <button data-toggle="modal" data-target="#modalAdicionarCliente" class="btn btn-primary adm-button"
            type="submit">Adicionar cliente</button>
        </div>

        <div class="col-sm ajuste-central">
            <button data-toggle="modal" data-target="#modalAdicionarPagamento" class="btn btn-secondary adm-button"
            type="submit">Adicionar pagamento</button>
        </div>

        <div class="col-sm ajuste-central">
            <button data-toggle="modal" data-target="#modalFinalizarVenda" class="btn btn-success adm-button"
            type="submit">receber<span style="margin-left: 5px !important;">R$: 157,20</span></button>
        </div>
    </div>
</mat-card>

<!-- Modal Cliente -->
<div class="modal fade" id="modalAdicionarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Adicionar cliente</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <select class="custom-select">
                <option selected>Escolha o cliente</option>
                <option value="1">jhonatan Silva da Costa</option>
                <option value="2">Aline aparecida Castello</option>
                <option value="3">João Roberto Neto</option>
            </select>

            <div class="custom-control custom-checkbox"
                style="margin-top: 20px; margin-bottom: 15px; text-align: left !important;">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Por favor confirme o
                    cliente</label>
            </div>

            <div class="form-group" style="text-align: left !important;">
                <label for="exampleFormControlTextarea1">Observação:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Adicionar
                cliente</button>
        </div>
    </div>
</div>
</div>

<!-- Modal Pagamento-->
<div class="modal fade" id="modalAdicionarPagamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Adicionar Pagamento</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <select class="custom-select">
                <option selected>Escolha o pagamento</option>
                <option value="1">A vista</option>
                <option value="2">A vista débito</option>
                <option value="3">Crédito a vista</option>
                <option value="4">Crédito parcelado</option>
            </select>

            <div class="custom-control custom-checkbox"
                style="margin-top: 20px; margin-bottom: 15px; text-align: left !important;">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Por favor confirme o
                    pagamento</label>
            </div>

            <div class="form-group" style="text-align: left !important;">
                <label for="exampleFormControlTextarea1">Observação:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Adicionar
                pagamento</button>
        </div>
    </div>
</div>
</div>

<!-- Modal Receber-->
<div class="modal fade" id="modalFinalizarVenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Adicionar Pagamento</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="formGroupExampleInput">Cliente</label>
                <input class="form-control"
                    placeholder="Jhonatan Silva da Costa">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Pagamento</label>
                <input class="form-control"
                    placeholder="A vista">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Total</label>
                <input class="form-control"
                    placeholder="157,20">
            </div>

            <div class="custom-control custom-checkbox"
                style="margin-top: 20px; margin-bottom: 15px; text-align: left !important;">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Por favor confirme os
                    dados</label>
            </div>

            <div class="form-group" style="text-align: left !important;">
                <label for="exampleFormControlTextarea1">Observação:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-success" style="margin-top: 10px;">Finalizar venda</button>
        </div>
    </div>
</div>
</div>


<!-- Modal Cancelar-->
<div class="modal fade" id="modalCancelarVenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Cancelar Venda</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="custom-control custom-checkbox"
                style="margin-top: 20px; margin-bottom: 15px; text-align: left !important;">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Por favor confirme o cancelamento</label>
            </div>

            <div class="form-group" style="text-align: left !important;">
                <label for="exampleFormControlTextarea1">Observação:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-danger" style="margin-top: 10px;">cancelar venda</button>
        </div>
    </div>
</div>
</div>
