<mat-card class="mat-elevation-z8" style=" margin-bottom: 30px; margin-top: 30px;">
    <div class="row text-center" style="margin-top: 30px;">
        <div class="col-sm display adm-title">
            <mat-icon class="icon-title">group</mat-icon>
            <h1>Imagem principal</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm text-center">
            <div class="col-sm text-center">
                <label for="imageperfilusuario" style="cursor: pointer;">
                    <div class="gallery-btn">
                        <i class="material-icons item-vertical" style="margin-top: -3px; color: #d9ad45 !important;">add</i><span>Adicionar
                    imagem</span>
                    </div>
                </label>
                <input type="file" style="display: none !important;" id="imageperfilusuario"/>
                <input type="text" style="display: none !important;" id="Foto" name="Foto">
            </div>
        </div>
    </div>

    <!--venda1-->
    <div class="row linha-pedido" style="margin: 10px 0px 10px 0px; border: 2px solid #d9ad45; border-radius: 10px">

        <div class="col-sm text-center" style="margin-top: 35px !important;">
            <p class="nome-cadastro"><i class="material-icons item-vertical main-color info-cadastro-icon"></i>Imagem principal</p>
        </div>

        <div class="col-sm">
            <!--Div para dar espaçamento-->
        </div>

        <div class="col-sm text-center">
            <div class="col-sm text-center">
                <label for="imageperfilusuario">
                    <img src="assets/img/camiseta.jpg" class="img-responsive profile_img-upload img-produto" style="cursor:pointer;" alt="Foto de Perfil">
                </label>
                <input type="file" style="display: none !important;" id="imageperfilusuario"/>
                <input type="text" style="display: none !important;" id="Foto" name="Foto">
            </div>
        </div>

        <div class="col-sm">
            <!--Div para dar espaçamento-->
        </div>

        <div class="col-sm text-center">
            <div class="row" style="margin: 36px 10px 10px 10px; border: 1px solid #cecece; border-radius: 10px;">
                <div class="col-sm">
                    <i class="material-icons cadastro-icons">delete</i>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="mat-elevation-z8" style=" margin-bottom: 30px; margin-top: 30px;">
    <div class="row text-center" style="margin-top: 30px;">
        <div class="col-sm display adm-title">
            <mat-icon class="icon-title">group</mat-icon>
            <h1>Galeria de imagens</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm text-center">
            <div class="col-sm text-center">
                <label for="imageperfilusuario" style="cursor: pointer;">
                    <div class="gallery-btn">
                        <i class="material-icons item-vertical" style="margin-top: -3px; color: #d9ad45 !important;">add</i><span>Adicionar
                    imagens</span>
                    </div>
                </label>
                <input type="file" style="display: none !important;" id="imageperfilusuario"/>
                <input type="text" style="display: none !important;" id="Foto" name="Foto">
            </div>
        </div>

        <div class="col-sm">
            <!--Div para dar espaçamento-->
        </div>

        <div class="col-sm text-center">
            <div class="row" style="margin: 15px 10px 10px 10px; border: 1px solid #cecece; border-radius: 10px;">
                <div class="col-sm" style="border-right: 1px solid #cecece;">
                    <i class="material-icons cadastro-icons">edit</i>
                </div>

                <div class="col-sm">
                    <i class="material-icons cadastro-icons">delete</i>
                </div>
            </div>
        </div>
    </div>

    <mat-card class="mat-elevation-z8" style="margin-bottom: 20px; margin-top: 20px;">
        <div class="row">
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>
    
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>
    
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>
    
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>
    
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>
    
            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>

            <div class="col-sm">
                <img class="img-produto" src="assets/img/camiseta.jpg">
            </div>
        </div>
    </mat-card>
</mat-card>